.art{
    width:300px;
    border:4px solid orange;
    text-align: center;
    border-radius: 10px;
    height: 200px;
    position: relative;
    
    
}
.image img{
    position: relative;
    width:100%;
    height:100%;
    z-index: -1;
}
.image{
    width:100%;
    height: 100%;
   
   
}
.art-button{
    width: 150px;
    
    border-radius: 10;

}
.text{
    
    position:absolute;
    top:0px;
    left:0px;
    background-color:orange ;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: 1s;
}

h1{
    color: var(--black);
}
.text:hover{
    cursor: pointer;
    opacity: 0.8;
}
@media(max-width:600px){
    .art{
        width:150px;
        height:150px;
        
    }
    .text h2{
        font-size: 16px;
    }
    .art-button{
        width: 100px;
        padding: 5px;
    }
    .text p{
        font-size: 12px;
    }
}
