.skills-main{ 
    text-align: center;
    margin-top:200px;
    
}
.skills-h1{
    color: var(--orange);
    margin-top: 100px;
    margin-bottom: 50px;
}
.skills-img{
    width: 120px;
    height:150px;
    margin-top: 20px;
}
.skill-box{
    margin: auto;
    width:60%;
    height:200px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
}

@media (max-width:480px) {
    .skill-box{
        height:250px;
        font-size: 12px;
    }
}