.card{
    display: flex;
    position: relative;
    width:12rem;
    height:16rem;
    padding: 20px;
    flex-direction: column;
    border:7px solid orange;
    box-shadow: var(--boxshadow);
    text-align: center;
    border-radius: 0 2rem 26px 20px;
    align-items: center;
    justify-content: center;
}
.card>img{
    width:70%;
    height:50%;

}
.card>:nth-child(2)
{
    color:var(--black);
    font-weight: bold;
}
.card>:nth-child(4)
{
    color:var(--orange);
    font-weight: bold;
}
@media(max-width:600px){
    .card{
        height:8rem;
    }
}