.contact{
    
    width:100%;
    height:400px;
    margin-top: 6rem;
}
.form{
    width:80%;
    margin: auto;
    display: flex;
    height: 100%;
    margin-top: 4rem;
}
.c-left{
    display: flex;
    flex:0.5;
    flex-direction: column;
}
.c-left>:nth-child(2)
{
    color: var(--orange);
    font-size: 3rem;
    font-weight: bold;
}
.c-left>:nth-child(1)
{
    color: var(--black);
    font-size: 3rem;
    font-weight: bold;
}
.c-right{
    display: flex;
    flex: 1;
    flex-direction:column;
    align-items: center;
    gap:2rem;
}

.c-right>:nth-child(1)
{
    padding:10px;
    width:60%;
    border:3px solid var(--orange);
    outline: none;
    border-radius: 15px;
}
.c-right>:nth-child(2)
{
    padding:10px;
    width:60%;
    border:3px solid var(--orange);
    outline: none;
    border-radius: 15px;
}
.c-right>:nth-child(3)
{
    padding:10px;
    width:60%;
    height: 6rem !important;
    resize: none;
    border:3px solid var(--orange);
    outline: none;
    border-radius: 15px;
}
@media (max-width:600px) {
    .form{
        width: 100%;
        gap:30px;
    }
    .c-left{
        flex:0.3;
    }
    .c-left>:nth-child(2)
    { 
        font-size: 1.5rem;
        font-weight: bold;
    }
    .c-left>:nth-child(1)
    {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .c-right>:nth-child(1)
   {
   
    width:90%;
   
    border-radius: 15px;
}
.c-right>:nth-child(2)
{
    
    width:90%;
    border:3px solid var(--orange);
    outline: none;
    border-radius: 15px;
}
.c-right>:nth-child(3)
{
    padding:10px;
    width:90%;
    height: 6rem !important;
    resize: none;
    border:3px solid var(--orange);
    outline: none;
    border-radius: 15px;
}

    
}